.App {
  font-family: sans-serif;
  /* text-align: center; */
}

.user-container {
  img {
    height: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
  }

  p {
    font-size: 24px;
  }

  span {
    font-weight: bold;
    font-style: italic;
  }
}

.user-list-container {
  display: grid;
  gap: 42px;
}

.movie-container {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-poster {
  height: 540px;
  width: 100%;
  object-fit: cover;
  /* border-radius: 6px; */
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0px;
}

.movie-name {
  font-size: 24px;
  margin: 0;
}

.movie-rating {
  font-size: 20px;
  margin: 0;
}

.movie-summary {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.movie-content-container {
  padding: 16px;
}

.movie-list-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  /* RAM */
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  justify-items: center;
  gap: 32px; */
}

.counter-btn-container {
  display: flex;
  gap: 8px;

  button {
    font-size: 1rem;
  }
}

nav {
  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
  }
}

:root {
  /* 1rem = 16px */
  font-size: 16px;
}

/* 1rem = 16px */
.add-movie-form {
  display: grid;
  gap: 0.5rem;
  max-width: 30rem;

  margin: 1.25rem auto;
}

.movie-detail-content-container {
  max-width: 60rem;
  padding-inline: 1rem;
}

.movie-action-container {
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0;
}

.loader-container {
  display: grid;
  min-height: 100vh;
  place-content: center;
}

.login-form {
  display: grid;
  /* Logical properties */
  margin-block: 1rem;
  gap: 0.8rem;
  max-width: 20rem;
  margin-inline: auto;
}